<div>
    <h1>Productos</h1>
    <div class="fila">
    {{#each products}}
    <div class="CardItem" style="width: 18rem;">
        <h5> {{this.title}} </h5>
        <div class="cardBody">
            <h6> {{this.description}} </h6>
            <p>Código: {{this.code}} </p>
            <p>Precio: {{this.price}} </p>
            <p>Stock: {{this.stock}} </p>
            <p>Categoría: {{this.category}} </p>

        </div>
    </div>
    </div>
    {{/each}}
</div>
