<div>
    <h1>Productos</h1>
    <div class="containerProducts">
        {{#each products}}
    <div class="CardItem" style="width: 18rem;">
        <h3> {{this.title}} </h3>
        <div class="cardBody">
            <h4> {{this.description}} </h4>
            <p>Código: {{this.code}} </p>
            <p>Precio: {{this.price}} </p>
            <p>Stock: {{this.stock}} </p>
        </div>
    </div>
    {{/each}}
    </div>
</div>
