<div id="containerFormProducts">
    <form>
        <h2>Agregar producto:</h2>
        <input type="text" placeholder="Título" name="title" id="title" required >
        <input type="text" placeholder="Descripción" name="description" id="description" required >
        <input type="text" placeholder="URL Imagen" name="thumbnail" id="thumbnail" required >
        <input type="number" placeholder="Precio" name="price" id="price" required >
        <input type="text" placeholder="Código" name="code" id="code" required >
        <input type="number" placeholder="Stock" name="stock" id="stock" required >
        <button class="botonForm" type="submit">Agregar</button>
    </form>
 <h2>Todos los productos</h2>
<div id="allProducts"></div>
    {{#each products}}
    <div class="CardItem" style="width: 18rem;">
      <h5>{{this.title}}</h5>
      <div class="cardBody">
        <h6>{{this.description}}</h6>
        <p>Código: {{this.code}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
      </div>
    </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>`